rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección de candidatos
    match /candidates/{candidateId} {
      allow read: if true;
      allow write: if false;
    }
    
    // Reglas para la colección de usuarios
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Reglas para la colección de votos
    match /votes/{voteId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
